.icon-48-templates {
	background-image: url(../images/l_com_templateck.png);
	padding-left:60px!important;
}

.icon-48-template {
	background-image: url(../images/l_com_templateck.png);
	padding-left:60px!important;
}

.adminformlist li {
    list-style: none;
}

/* for Joomla 3.x */
.icon-installGabarit  {
    width: 14px;
    height: 14px;
    background: url(../images/import.png) center bottom no-repeat;
}

.icon-exportGabarit  {
    width: 14px;
    height: 14px;
    background: url(../images/export.png) center bottom no-repeat;
}

.icon-installTheme   {
    width: 14px;
    height: 14px;
    background: url(../images/install.png) center bottom no-repeat;
}

.icon-copyTemplate   {
    width: 14px;
    height: 14px;
    background: url(../images/copytemplate.png) center bottom no-repeat;
}

/* for Joomla 2.5 */
.icon-32-installGabarit  {
    background: url(../images/import_32.png) center bottom no-repeat;
}

.icon-32-exportGabarit  {
    background: url(../images/export_32.png) center bottom no-repeat;
}

.icon-32-installTheme   {
    background: url(../images/install_32.png) center bottom no-repeat;
}

.icon-32-copyTemplate   {
    background: url(../images/copytemplate_32.png) center bottom no-repeat;
}

.infock {
	background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
	padding: 10px;
}

.alertck {
	background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
	padding: 10px;
}

.badge-alertck {
	background-color: #b94a48;
	border-radius: 4px;
	color: #fff;
	font-size: 9px;
	margin: 2px;
	padding: 3px;
	text-shadow: none;
}